@import "../../variables.scss";

.container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $menu-height;

  background-color: #eaeaea;

  border-bottom: 1px solid black;
}

.container ul{
  display: inline-block;
  margin-right: 5px;
  border-right: 1px solid black;
}

.container ul li{
  display: inline-block;
  margin-right: 7px;
}
.container a{
  color: #000;
}

