@import "../../variables";
@import "../../../shared/enums/ErrorType";

.container {
  width: 100%;
}

.count {
  width: 20px;
  height: 20px;
  float: left;
  font-weight: bold;
  text-align: center;
  border: 2px solid;
  border-radius: 20px;
  line-height: 17px;
  position: relative;
  top: 2px;
  font-size: $font-size-small;
}

.active{}

.error {
  .count {
	color: $error;
  }

  .count.active{
	background-color: $error;
	border-color: $error;
	color: #fff;
  }
}

.warning {
  .count {
	color: $warning;
  }

  .count.active{
	background-color: $warning;
	border-color: $warning;
	color: #fff;
  }
}

.info {
  .count {
	color: $info;
  }

  .count.active{
	background-color: $info;
	border-color: $info;
	color: #fff;
  }
}

.ok{
  cursor: default;

  .count {
	color: $ok;
  }
}

.messages {
  width: calc(100% - 25px);
  height: $footer-height;
  overflow: hidden;
  position: relative;
  float: left;
  padding-left: 5px;
}

.message {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  z-index: 1;
  transition: top ease 300ms;
  background-color: $footer-bg-color;
}

.container:not(.ok) .count,
.container:not(.ok) .message,
.container:not(.ok) .messages{
  cursor: pointer !important;
}

.out {
  top: 100%;
  z-index: 4;
}

.in {
  top: 0;
  z-index: 5;
}



.detailWindow {
  display: none;
  position: absolute;
  left: 4px;
  bottom: 30px;
  width: 500px;
  height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid $dark-grey;

  padding: 10px;
}

.container:not(.ok):hover .detailWindow{
  display: block;
}
