@import "../../variables";

.container{
  position: absolute;
  bottom: 1px;
  right: 0;
  z-index: 20;
  width: calc(100% - #{$nodes-sidebar-width});;
  height: $footer-height;
  line-height: $footer-height;
  padding: 0 10px;

  background-color: $footer-bg-color;
  border-top: 1px solid $footer-border-color;
}

.left{
  float: left;
  width: calc(100% - 270px);
}

.right{
  width: 270px;
  float: right;
  text-align: right;

  span{
	margin-left: 10px;
  }
}
