@import "../../variables.scss";

.container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $menu-height;
  line-height: $menu-height - 10px;
  padding: 5px 25px;
  overflow: visible;
  z-index: 10;

  background: $menu-sidebar-background;
  border-bottom: 2px solid $menu-sidebar-border-color;
}

.container ul{
  padding: 0;
  margin: 0 15px 0 0;
  border-right: 1px solid $light-grey;

  li {
	display: inline-block;
	margin-right: 15px;
	line-height: 37px;

	&.active {
	  background-color: $grey;

	  a {
		color: white;
	  }
	}

  }

  &.right{
	float: right;
	border-right: none;
	margin: 0 0 0 15px;

	li{
	  margin: 0 0 0 15px;
	}
  }

  &.left{
	float: left;
  }
}

.tooltip{
  background: $menu-tooltip-background !important;
  color: $menu-tooltip-color !important;
  padding: 3px 20px !important;
  font-weight: bold;
  text-align: center;
  line-height: 18px;

  :global {
	.shortcut {
	  font-size: $font-size-small;
	  font-weight: normal;
	}
  }
}

$select-height: 24px;
$select-color: $very-light-grey;
.select{
  width: 200px;
  line-height: $select-height;
  height: $select-height;

  :global{
	.Select-control{
	  height: $select-height;
	  background-color: $light-grey;
	  color: $select-color;
	  border: none;
	}

	.Select-placeholder{
	  line-height: $select-height;
	}

	.Select-input{
	  height: $select-height;
	}

	.Select-value{
	  line-height: $select-height !important;
	}

	.Select-value-label{
	  color: $select-color !important;
	}

	.Select-menu-outer{
	  background-color: $light-grey;
	  color: $select-color;
	  border: none;
	}

	.Select-option{
	  background-color: $light-grey;
	  color: $white;

	   
	}
  }
}

.configure-option{

}

//.container a{
//  color: #000;
//}

