@import "../../variables";

.container {
  position: absolute;
  top: $menu-height;
  left: $nodes-sidebar-width;
  z-index: 5;
  width: calc(100% - #{$nodes-sidebar-width});
  height: $tabs-height;

  padding-top: 5px;
}

:global .nav-tabs > li > a{
  line-height: 0.8;
  padding: 10px 28px 10px 15px;
}

:global .nav{
  padding-left: 5px;
}

.close{
  position: absolute !important;
  right: 8px;
  top: 7px;
  z-index: 2;
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  cursor: pointer !important;
}
