@import "../../variables";

.container {
  position: absolute;
  top: $menu-height;
  left: $nodes-sidebar-width;
  z-index: 5;
  width: calc(100% - #{$nodes-sidebar-width});
  height: $tabs-height;
  padding-top: 5px;
  background: $tabs-background;
}

.tabs{
  padding-left: 0;
  margin: 0;
  list-style: none;

  & > li{
	float: left;
	position: relative;
	display: block;

	a{
	  position: relative;
	  display: block;
	  margin-right: 2px;
	  border: 1px solid transparent;
	  border-radius: 2px 2px 0 0;
	  color: $tabs-color;
	  line-height: 0.8;
	  padding: 10px 28px 10px 15px;

	  &:hover{
		@extend .active;
	  }
	}
  }
}

.active{
  color: $tabs-active-color;
  cursor: default;
  background-color: $tabs-active-background;
}

.close{
  position: absolute !important;
  right: 8px;
  top: 7px;
  z-index: 2;
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
  cursor: pointer !important;
}
