@import "../renderer/variables";

.variableNameWrapper{
  visibility: hidden;
  opacity: 0.7;

  input{
	width: 100%;
	color: #5a5a5a;
	background-color: $canvas-background;
	border: 1px solid transparent;
	padding: 5px 20px;

	&:focus{
	  border: 1px solid #5a5a5a;
	}
  }

  &:hover{
	opacity: 1;

	input{
	  border: 1px solid #5a5a5a;
	}
  }
}

.active{
  visibility: visible;
  outline: none;
}

.focused{
  opacity: 1;
}

.nodeSelected{
  stroke-width: $node-detail-stroke-width;
  stroke: $node-detail-color;
  fill: $node-detail-fill;
}

.nodeHover{
  fill: $node-hover-color;
}

.nodeActive{
  stroke-width: $node-active-stroke-width;
  stroke: $node-active-color;
}

.nodeError{
  stroke-width: $node-error-stroke-width;
  stroke: $node-error-color;
}
