@import "../../variables";

.container {
  position: absolute;
  top: $menu-height;
  left: 0;
  width: $nodes-sidebar-width;
  height: calc(100% - #{$menu-height});

  background-color: #c09875;

  border-right: 1px solid black;
}

.search{
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;

  input{
	border-radius: 13px;
	padding: 2px 13px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #4b4b4b;
  }
}

.nodeList{
  width: 100%;
  height: calc(100% - 41px);
  padding: 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
