@mixin overlay{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

@mixin modal($width, $height){
  position: absolute;
  z-index: 1001;

  width: $width;
  height: $height;
  left: 50%;
  top: 50%;
  margin-left: -($width/2);
  margin-top: -($height/2);

  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 6px;
  outline: none;
  padding: 20px;
}
