@import "../../variables";

.container {
  position: absolute;
  top: $menu-height;
  right: 0;
  z-index: 10;
  width: $detail-sidebar-width;
  height: calc(100% - #{$menu-height} - #{$footer-height});
  padding: 8px;

  border-left: 1px solid $detail-sidebar-border-color;
  background-color: $detail-sidebar-background;
}
