@import "../../variables";

.container {
  position: absolute;
  top: $menu-height;
  right: 0;
  z-index: 10;
  width: $detail-sidebar-width;
  height: calc(100% - #{$menu-height});

  border-left: 1px solid #6e6e6e;
  background-color: #eaeaea;
}
