@import "../../variables";

.container {
  position: absolute;
  top: $menu-height;
  left: $nodes-sidebar-width;
  z-index: 5;
  width: calc(100% - #{$nodes-sidebar-width});
  height: calc(100% - #{$menu-height} - #{$footer-height});
}
