@import "../../variables";

.container {
  position: absolute;
  top: $menu-height + $tabs-height;
  left: $nodes-sidebar-width;
  z-index: 5;
  width: calc(100% - #{$nodes-sidebar-width});
  height: calc(100% - #{$menu-height} - #{$footer-height} - #{$tabs-height});
  background: $canvas-background;
}

.multiselect{
  cursor: default;
}

.pan{
  cursor: grab;
  cursor: -webkit-grab;
}

.panning{
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

@import "../../../graph/DefaultShape.scss";
