@import "../../variables";
@import "../../../shared/enums/ErrorType";

.container{
  position: absolute;
  bottom: $footer-height;
  right: 0;
  z-index: 9;
  width: calc(100% - #{$nodes-sidebar-width});;
  height: $code-view-height;
  overflow: hidden;

  border-top: 1px solid $code-view-border-color;
}

.codeEditor{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // Editor styling
  font-size: $font-size-normal;
}

.errorsOverlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  text-align: center;

  h3{
	color: $error;
  }
}

.errorsOverlay ~ .codeEditor{
  filter: blur(5px);
}

// Editor styling
.variable{
  position: absolute;
  border: 1px solid $very-dark-grey;
}

.node{
  position: absolute;
  pointer-events: auto;
}
.node:hover, .nodeHover{
  position:absolute;
  border: $code-view-node-hover-border;
  background-color: $code-view-node-hover-background;
}
.nodeActive{
  position:absolute;
  border: $code-view-node-active-border;
}
