@import "../../variables";
@import "../../../graph/ErrorType";

.container{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - #{$nodes-sidebar-width});;
  height: $code-view-height;
  overflow: hidden;

  background-color: $code-view-bg-color;
  border-top: 1px solid $code-view-border-color;
}

.code{
  padding: 0 10px;
  white-space: pre;
}

.errorsOverlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  text-align: center;

  h3{
	color: $error;
  }
}

.errorsOverlay ~ .code{
  filter: blur(5px);
}
