@import "../../variables";

.container{
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - #{$nodes-sidebar-width});;
  height: $code-view-height;
  overflow: hidden;
  padding: 0 10px;

  background-color: $code-view-bg-color;
  border-top: 1px solid $code-view-border-color;
}
