@import "../../variables";

.container{
  padding: 10px;
  margin-top: 8px;
  margin-left: 15px;
  border: $code-input-border;
  border-radius: $code-input-border-radius;
}

.nodesCode{
  font-weight: bold;
  -webkit-user-select: none;
  cursor: default;
}

.parameter{
  display: block;
  padding: 4px 8px;
  margin: 4px 3px 4px 10px;
  background-color: $parameter-background;
  border: $parameter-border;
  border-radius: 3px;

  &:focus{
	border-color: $parameter-focused;
  }
}

.template{
  color: darken($font-color, 5%);
}

.required{
  composes: parameter;
  border-color: $parameter-required;
}

.optional{
  composes: parameter;
  border-color: $parameter-optional;
}
