@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

div, span{
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

div[contenteditable]{
  cursor: text;
}

[data-selectable]{
  cursor: auto;
  -webkit-user-select: auto;
  user-select: auto;
}

.fa{
  font-size: 18px;
}

//////////////////////////////////////////////
// Graph styling

@import "~jointjs/css/layout.css";
@import "~jointjs/css/themes/modern.css";

// Ports
.available-magnet {
  fill: yellow;
}
