@import "~normalize.css/normalize.css";
@import "~font-awesome/css/font-awesome.css";
@import "~typeface-montserrat/index.css";
@import "variables";
@import "../../../resources/fonts/icons.css";

// General styles
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family;
  font-size: $font-size-normal;
  line-height: $line-height;
  color: $font-color;
  overflow: hidden;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a{
  color: $link-color;
  text-decoration: none;

  &:hover{
	text-decoration: none;
	color:$link-hover-color;
  }

  &:focus{
	outline:none;
  }
}

// Disabling selecting texts
div, span {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

div[contenteditable] {
  cursor: text;
}

[data-selectable] {
  cursor: auto;
  -webkit-user-select: auto;
  user-select: auto;
}

//////////////////////////////////////////////
// Graph styling

@import "~jointjs/css/layout.css";
@import "~jointjs/css/themes/modern.css";

// Ports
.available-magnet {
  fill: #a3a300;
}

.joint-link.joint-theme-modern .connection-wrap{
  stroke-width: 8;
}

/////////////////////////////////////////////
// Custom scrollbar styling

@import "~react-scrollbar/dist/css/scrollArea.css";

.scrollarea {
  padding-right: 15px;

  .scrollbar-container {
	&:hover {
	  background: $scrollbar-background !important;
	}

	.scrollbar {
	  background: $scrollbar-color !important;
	}
  }
}
