// Colors
$very-light-grey: #fcfcfc;
$light-grey: #f4f4f4;
$dark-grey: #848484;
$very-dark-grey: #5c5c5c;
$red: #b3300a;
$dark-red: #850001;
$blue: #344bb3;
$light-blue: #4e83c9;
$yellow: #decf22;
$green: #54a321;

// Context colors
$error: $red;
$warning: $yellow;
$info: $light-blue;
$ok: $green;

// Fonts
$font-size-small: 11px;
$font-size-normal: 14px;

// Canvas
$node-detail-color: $light-blue;
$node-detail-stroke-width: 3;
$node-hover-color: $yellow;
$node-hover-stroke-width: 2;
$node-active-color: $yellow;
$node-active-stroke-width: 4;
$node-error-color: $red;
$node-error-stroke-width: 4;

// Menu
$menu-height: 30px;
$menu-sidebar-bg-color: $light-grey;
$menu-sidebar-border-color: $dark-grey;

// Footer
$footer-height: 25px;
$footer-bg-color: $light-grey;
$footer-border-color: $dark-grey;

// Detail Sidebar
$detail-sidebar-width: 240px;
$detail-sidebar-bg-color: $light-grey;
$detail-sidebar-border-color: $dark-grey;

// Nodes Sidebar
$nodes-sidebar-width: 240px;
$nodes-sidebar-node-height: 30px;
$nodes-sidebar-node-width: 60px;
$nodes-sidebar-margin: 8px;
$nodes-sidebar-bg-color: $light-grey;
$nodes-sidebar-border-color: $dark-grey;

// Code View
$code-view-height: 400px;
$code-view-bg-color: $very-light-grey;
$code-view-border-color: $dark-grey;

// Code Input
$code-input-border: 1px solid $dark-grey;
$parameter-border: 1px solid;
$parameter-required: $dark-red;
$parameter-optional: $blue;
$parameter-focused: $yellow;
