
// Layout dimensions
$nodes-sidebar-width: 240px;
$detail-sidebar-width: 240px;
$menu-height: 40px;


// Nodes Sidebar
$nodes-sidebar-node-height: 30px;
$nodes-sidebar-node-width: 60px;
$nodes-sidebar-margin: 8px;

