// Colors
$white: #FFFFFF;
$very-light-grey: #ADADAD;
$light-grey: #3C3C3C;
$grey: #252526;
$dark-grey: #1E1E1E;
$very-dark-grey: #5c5c5c;
$red: #b3300a;
$dark-red: #850001;
$blue: #344bb3;
$light-blue: #4e83c9;
$yellow: #decf22;
$green: #54a321;

// Context colors
$error: $red;
$warning: $yellow;
$info: $light-blue;
$ok: $green;

// Fonts
$font-family: Montserrat, sans-serif;
$font-size-small: 11px;
$font-size-normal: 14px;
$font-color: $very-light-grey;
$line-height: 1.428571429;

$link-color: $very-light-grey;
$link-hover-color: $white;

// Canvas
$canvas-background: $dark-grey;
$node-detail-fill: lighten($light-blue, 40%);
$node-detail-color: $light-blue;
$node-detail-stroke-width: 3;
$node-hover-color: $yellow;
$node-hover-stroke-width: 2;
$node-active-color: $yellow;
$node-active-stroke-width: 4;
$node-error-color: $red;
$node-error-stroke-width: 4;

// Tabs
$tabs-height: 50px;
$tabs-tab-height: 40px;
$tabs-background: $grey;
$tabs-color: $very-light-grey;
$tabs-active-background: $dark-grey;
$tabs-active-color: $white;


// Menu
$menu-height: 40px;
$menu-sidebar-background: $dark-grey;
$menu-sidebar-border-color: $dark-grey;

// Footer
$footer-height: 25px;
$footer-background: $grey ;
$footer-border-color: $grey;

// Detail Sidebar
$detail-sidebar-width: 240px;
$detail-sidebar-background: $grey;
$detail-sidebar-border-color: $dark-grey;

// Nodes Sidebar
$nodes-sidebar-width: 240px;
$nodes-sidebar-node-height: 30px;
$nodes-sidebar-node-width: 60px;
$nodes-sidebar-margin: 8px;
$nodes-sidebar-background: $grey;
$nodes-sidebar-border-color: $dark-grey;
$nodes-sidebar-search-background: $light-grey;
$nodes-sidebar-search-color: $white;

// Code View
$code-view-height: 400px;
$code-view-bg-color: $very-light-grey;
$code-view-border-color: $dark-grey;

// Code Input
$code-input-border: 1px solid $dark-grey;
$parameter-border: 1px solid;
$parameter-required: $dark-red;
$parameter-optional: $blue;
$parameter-focused: $yellow;

// Resizable
$resizable-size: 5px;
$resizable-color: $very-dark-grey;
